@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6fae5cf;

  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

