@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6fae5cf;

  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


.fontthin{
  font-weight: 200;
}
*{
  scroll-behavior: smooth;
}
.shadow-around{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.bg-yellow{
  background-color: #F4D251;
}

/* @media (max-height: 1300px) {
  .ii{
    width:50vw;
  }
}
@media (max-height: 1023px) {
  .ii{
    width:100vw;
  }
} */

@media (max-height: 740px) {
  .but{
    margin-top: 25vh;
  }
  .tx{
    font-size: 0.875rem;
  }
}

@media (max-height: 720px) {
  .but{
    margin-top: 19vh;
  }
}
@media (max-height: 700px) {
  .but{
    margin-top: 15vh;
  }
  .kk{
    margin-top: 60vh;
  }
}
@media (max-height: 630px) {
  .but{
    margin-top: 10vh;
  }
  .kk{
    margin-top: 55vh;
  }
}
@media (max-height: 600px) {
  .but{
    margin-top: 5vh;
  }
}
@media (max-height: 565px) {
  .but{
    margin-top: 1vh;
  }
  .kk{
    margin-top: 50vh;
  }
}