@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6fae5cf;

  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}


.fontthin{
  font-weight: 200;
}
*{
  scroll-behavior: smooth;
}
.shadow-around{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.bg-yellow{
  background-color: #F3D252;
}